form {
  display: inline-block;
  width: 47%;
  margin: 3px;
  padding: 10px 0 10px 5px;
  vertical-align: top;
}

img {
  vertical-align: middle;
}

.people {
  display: flex;
  flex-wrap: wrap;
}
.people p {
  height: 60px;
  justify-content: space-evenly;
  width: 70px;
}
.hidden {
  display: none;
}